.box{
    display: grid;  
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;

    min-height: 400px;
}

div{
    padding: 10px; 
    background: pink;
    border-bottom: solid 1px black;
    border-right: solid 1px black
}

.row3{
    border-bottom: none;
}
.col3{
    border-right: none;
}